@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,800');

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

/***********************************
Table of Contents

1. Typography
2. Buttons
3. Backgrounds
4. Animation
5. Navigation
6. Lists
7. Cards

***********************************/


@import "bootstrap-4.0.0/scss/bootstrap.scss";


/***********************************
1. Typography
***********************************/

body, html {
    height: 100%;
    font-family: 'Montserrat';
}

#splash{
    h1{
        font-size: 72px;
    }

    h2{
        font-size: 50px;
    }

    span,
    p{
        font-size: 18px;
    }

    @include media-breakpoint-down(sm) {
        h1{
            font-size: 40px;
        }

        h2{
            font-size: 36px;
        }
    }

}


.tracked{
    letter-spacing: .1em;
}

#title{ 
  padding-top: 4.5rem; /*to offset content for the fixed navigation*/
  height: 50em;
}

#title p{
    font-size: 16px;
    letter-spacing: .02em;

}


/***********************************
2. Buttons
***********************************/



.btn-primary{
    @include button-variant($green, $green);
}


/***********************************
3. Backgrounds
***********************************/




.bg-pasadena{
    background: url("../assets/pasadena-map.png");
}

.bg-light{
    background-color: $gray-100 !important;
}

.map-bg{
    background-size: 100%;
}

.map-background{
    background: url("../assets/pasadena-map.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.map-background-02{
    background: url("../assets/berkeley-map.png");
    background-repeat: no-repeat;
     background-size: 100%;
}

.map-background-03{
    background: url("../assets/mission-map.png");
    background-repeat: no-repeat;
     background-size: 100%;
}

@include media-breakpoint-down(md) {
    .map-background-03,
    .map-background-02,
    .map-background{
        background-size: 200%;
    }
}

@include media-breakpoint-down(sm) {
    .map-background-03,
    .map-background-02,
    .map-background{
        background-size: 300%;
    }
}

/***********************************
4. Animation
***********************************/

/*bounce up animation for the subject*/
.bounce-up{
  opacity: 0;
  @include transition(all 700ms ease-out);
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/*bounce up animation for the subject*/
.bounce-down{
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, -100px, 0px);
  -webkit-transform: translate3d(0px, -100px, 0px);
  -o-transform: translate(0px, -100px);
  -ms-transform: translate(0px, -100px);
  transform: translate3d(0px, -100, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view,
.bounce-down.in-view{
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}


/*fade in animation for the subject*/

.fade-in{
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fade-in.in-view{
  opacity: 1;
}

.img-bottom-layer{
  position:relative;
  top:0;
  left:0;
  left:0;
  right:0;
  margin:auto;
}

.img-layer{
  position:absolute;
  top:0;
  left:0;
  left:0;
  right:0;
  margin:auto;
}


/***********************************
5. Navigation
***********************************/



.navbar{
    transition: all 0.5s ease;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.navbar-light{
    box-shadow: 0 .125rem .25rem rgba(35,45,76, .07) !important;
}

.navbar-brand{
    padding: 0;
}

/***********************************
6. Lists
***********************************/

.list-group{
    box-shadow: none;
}

.list-group-item{
    border: none;
    background: none;
}


/***********************************
7. Cards
***********************************/


.card{
    border: none;
}




.parallax {
    /* The image used */
    background-image: url('../assets/child-taking-photo.png');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

section .container{
    padding-top: 70px;
    padding-bottom: 100px;
}

@include media-breakpoint-down(lg) {
  section .container{
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

@mixin cover($i, $url) {
  &:nth-child(#{$i}) {
    &:after {
      background-image: url($url);
    }
  }
}



.wrapper {
  position: relative;
  section {
    position: relative;
    article {
      width: 50%;
      margin: 0 auto;
      padding: 2em 0;
      p {
        margin-bottom: 1em;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    &:not(:last-child):after {
      content: "";
      display: block;
      position: absolute;
      background-attachment: fixed;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 50em;
      width: 100%;
      background:     
        linear-gradient(90deg, $indigo, rgba(6, 0, 104, 0)), url("../assets/child-taking-photo.png") no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
      background-position: calc(100%) center;
      
    }
    // @include cover(1, "../assets/child-taking-photo.png");
    // @include cover(2, "http://cdn.eyeem.com/thumb/h/800/4f488e1db3960b9ba1246125e8181e7741564b62-1370076361");
    // @include cover(3, "http://cdn.eyeem.com/thumb/h/800/8484e67f9b7bef4b2e00ddf0f353f036b4b0e9e6-1348396364");
    // @include cover(4, "http://cdn.eyeem.com/thumb/h/800/704e38b95cb808b0df338a9661007f93ce3bed98-1348321831");
    // @include cover(5, "http://cdn.eyeem.com/thumb/h/800/20b3440516db8c8df4490b17ba3109d91c07f839-1348321287");
    // @include cover(6, "http://cdn.eyeem.com/thumb/h/800/d90429ba407c439beae9d23e468dc9c1deb7efdd-1348357036");
  }

    #share::after {
      background:     
        linear-gradient(90deg, $indigo, rgba(6, 0, 104, 0)), url("../assets/child-taking-photo.png") no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
    }

}

#logo{
  min-height: 27px;
  width: 212px;
  background-image: url('../assets/logo.svg');
  background-repeat: no-repeat;
}


.navbar-dark #logo{
  min-height: 27px;
  width: 212px;
  background-image: url('../assets/logo-light.svg');
  background-repeat: no-repeat;
}

